:root {
  /* fonts */
  --font-primary: 'Josefin Sans', sans-serif;
  --font-size: 1.125rem;

  /* colors*/
  --color-primary-accent: hsl(220, 98%, 61%);
  --color-primary-check-bg: linear-gradient(
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );

  /* default background images */
  --background-image-mobile: url('./images/bg-mobile-light.jpg');
  --background-image-desktop: url('/images/bg-desktop-light.jpg');
}

[data-theme='light'] {
  /* colors */
  --color-bg: hsl(236, 33%, 92%);
  --color-todo-list-bg: hsl(0, 0%, 98%);
  --color-todo-h1: hsl(0, 0%, 98%);
  --color-todo-text: hsla(237, 14%, 26%, 1);
  --color-filter-text: hsla(236, 9%, 61%, 1);
  --color-text-completed: hsl(233, 11%, 84%);
  --color-text-active: hsla(237, 14%, 26%, 1);
  --color-todo-border: hsla(233, 11%, 84%, 1);
  --color-surface-hover: hsl(236, 33%, 92%);

  /* background images for light theme */
  --background-image-mobile: url('./images/bg-mobile-light.jpg');
  --background-image-desktop: url('./images/bg-desktop-light.jpg');
}

[data-theme='dark'] {
  /* colors */
  --color-bg: hsl(235, 21%, 11%);
  --color-todo-list-bg: hsl(235, 24%, 19%);
  --color-todo-text: hsl(234, 39%, 85%);
  --color-text-completed: hsl(234, 11%, 52%);
  --color-text-active: hsl(0, 0%, 98%);
  --color-todo-border: hsl(233, 14%, 35%);
  --color-surface-hover: hsl(236, 33%, 92%);

  /* background images for dark theme */
  --background-image-mobile: url('./images/bg-mobile-dark.jpg');
  --background-image-desktop: url('./images/bg-desktop-dark.jpg');
}

body {
  background-color: var(--color-bg);
  background-image: var(--background-image-mobile);
  background-size: contain;
  /* background-position: center; */
  background-position-y: top;
  background-repeat: no-repeat;
  color: var(--color-todo-text);
  font-family: var(--font-primary);
  font-size: var(--font-size);
  box-sizing: border-box;
  padding: 1.5em;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  color: var(--color-todo-h1);
  letter-spacing: 0.75rem;
}

form {
  margin-bottom: 1.5em;
}

button {
  all: unset;
  cursor: pointer;
}

.todo-circle-btn {
  background-color: transparent;
  border-radius: 50%;
}

input {
  border: none;
}

label {
  cursor: pointer;
  color: var(--color-todo-text);
}

ul,
.todo-input-container {
  border-radius: 5px;
}

li,
.todo-input-container,
.filter-options {
  padding: 1em 1.5em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: var(--color-todo-list-bg);
}

.todo-item-li {
  margin: 0;
  border-bottom: 0.125rem solid var(--color-bg);
  display: flex;
  justify-content: space-between;
}

li:last-child {
  border-bottom: none;
}

.todo-circle-btn,
input[type='checkbox'] {
  font-family: inherit;
  font-size: var(--font-size);
  height: 1.25em;
  width: 1.25em;
  margin-right: 1em;
  border: 1px solid var(--color-text-completed);
}

::placeholder {
  color: hsl(236, 9%, 61%);
}

nav {
  display: flex;
  justify-content: center;
  margin-top: 1.5em;
  background-color: var(--color-todo-list-bg);
}

.filter-options {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.todo-input-container {
  display: flex;
  align-items: center;
  margin: 0;
  border: none;
  background-color: var(--color-todo-list-bg);
}

.todo-input {
  font-family: inherit;
  font-size: inherit;
  order: 2;
}

.todo-circle-btn {
  order: 1;
}

/* checkbox styling */

.check-box-wrapper {
  display: flex;
  align-items: center;
}

input[type='checkbox'] {
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid var(--color-text-completed);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  outline: none;
  align-items: center;
  justify-content: center;
}

input[type='checkbox']:after {
  font-family: 'Font Awesome 6 Free';
  content: '\f00c';
  font-weight: 900;
  font-size: 0.75rem;
  color: #fff;
  display: none;
}

/* Hover effect - gradient applied to border-color */
input[type='checkbox']:hover {
  background-image: var(--color-primary-check-bg);
  /* border-color: hsl(280, 87%, 65%); */
}

/* Checked state - applies gradient background */
input[type='checkbox']:checked {
  background-image: var(--color-primary-check-bg);
}

input[type='checkbox']:checked:after {
  display: block; /* Display checkmark when checked */
}

.todo-completed {
  color: var(--color-text-completed);
  text-decoration-line: line-through;
}

/* delete button */
.fa-x {
  font-weight: 500;
}

/* light-dark mode toggle */
.moon-btn {
  display: block;
}

.sun-btn {
  display: none;
}

/* media queries */

@media (min-width: 768px) {
  body {
    background-image: var(--background-image-desktop);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  header {
    min-width: 75%;
  }

  main {
    min-width: 75%;
  }
}
